
<div class="container-fluid">
	<div class="row">
		<div class=" col-md-3  sidebar">
			<div *ngIf ='trashedNotes.length >0;else noNote'>
				<ul class="side">
					<li *ngFor="let tnote of trashedNotes; let i of index "  class="title" ><b>{{tnote.Note}}</b>
						<span><a class="glyphicon glyphicon-trash remove pull-right" (click)="onRemoveNoteFromTrash(tnote)"></a></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
				
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #noNote>
	<h5>No notes to show</h5>
</ng-template>
