.side{
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0;
    top: 75px;
    overflow: auto;
    height: auto;
    padding-top: 0px;
}
.sidebar{
	position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    width: 363px;
    border-right: 1px solid #f0f0f0;

}
textarea{
    /*width: 100%;*/
    height:100%;
}
.remove{
    color:red;
    margin-right: 10px;
   
}
h5{
    color: red;
    margin-top: 100px;
    text-align: center;

}
li{
    list-style: none;
    text-align: center;
}
