<div class="container-fluid cf">
	<div class="row">
		<div class="col-xs-3  sidebar">
			<small>
				<a (click) = "openAddForm()"><span class="glyphicon glyphicon-plus add"></span></a>
			</small>
			<div >
				<div class="dropdown">
					<span class="dropdown-toggle" type="button" data-toggle="dropdown">
						Tags
						<span class="caret"></span>
					</span>
					<ul class="dropdown-menu side">
						<li>
							<span class="getNotes"><span type='button'  class ="trashRouter" (click)="trashData()">Trash</span></span>
						</li>
						<li class="divider"></li>
						<li>
							<span class="getNotes"><span (click)="getNotes()" >All Notes</span></span>
						</li>
						<li class="divider"></li>
						<li *ngFor="let note of n ; let i = index "  class="title" (click)="getTagData(note)" >{{note.Title.display}}
							<span ><a type='button'  class ="glyphicon glyphicon-trash pull-right remove" (click)="onAddNoteToTrash(note,i)"></a></span>
						</li>
					</ul>
					
				</div>
				<ul class="noteList">
					<div *ngIf="!tag && !trashdata">

						<li *ngFor = "let data of notesValue; let i = index "  class="preview">
							<p  name="Note" [(ngModel)]="data.Note" ngDefaultControl (click)="getNoteData(data,i)" class="p" id="noteData">
								{{data.Note}}
							</p>
							<a type='button'  class ="glyphicon glyphicon-trash pull-right trash" (click)="onAddNoteToTrash(data,i)"></a>
							<li class="text">{{note}}
						</li>
					</div>
					<div *ngIf="tag ">
						<li *ngFor="let data of tagdata ; let i = index "  class="preview" >
							<p name="Note" [(ngModel)]="data.Note" ngDefaultControl (click)="getNoteData(data,i)" class="p" >
									{{data.Note}}
							<span ><a type='button'  class ="glyphicon glyphicon-trash pull-right trash" (click)="onRemoveNote(data,i)"></a></span>
							</p>
							<li class="text">{{note}}
						</li>
					</div>
					<div *ngIf ="trashdata">
						
						<li *ngFor="let tnote of trashedNotes; let i = index "  class="preview">
							<p name="Note" [(ngModel)]="tnote.Note" ngDefaultControl class="p">{{tnote.Note}}
								<span><a class="glyphicon glyphicon-trash pull-right onTrash" (click)="onRemoveNoteFromTrash(tnote,i)"></a></span>
							</p>
						</li>
						
					</div>
				</ul>
				
			</div>
		</div>
		<div class="container-fluid ">
			<div class=" col-xs-9">
			
				<form #f='ngForm' (keyup)='saveNote(f)' *ngIf="showAddInput">
					<div class="tag-input">
						<tag-input *ngIf="!getData" name="title" [separatorKeyCodes]="[32]" [maxItems]='3' [(ngModel)]='title'
								(onRemove)="onItemRemoved($event)"
								(onAdd)="onItemAdded($event)"
								[editable]='true' (onTagEdited)="onTagEdited($event)">
						</tag-input>
						<tag-input *ngIf="getData" name="title" [separatorKeyCodes]="[32]" [maxItems]='3' [(ngModel)]='noteValue.Title'
								(onRemove)="onItemRemoved($event)"
								(onAdd)="onItemAdded($event)"
								[editable]='true' (onTagEdited)="onTagEdited($event)">{{noteValue.Title}}
						</tag-input>
					</div>
					<div class="note" >

						<textarea *ngIf="!getData" rows="100%" cols="100%" name="note" placeholder="note.." [(ngModel)]="note"></textarea >
						<textarea *ngIf="getData" rows="100%" cols="100%" name="Note"  [(ngModel)]="noteValue.Note" >{{noteValue.Note}}</textarea>
					</div>
				</form>
				<form  (keyup)='updateNote(noteValue)'  *ngIf='getData'>
					<div class="tag-input">
						<tag-input *ngIf="getData" name="title" [separatorKeyCodes]="[32]" [maxItems]='3' [(ngModel)]='noteValue.Title'
																(onRemove)="onItemRemoved($event)"
																(onAdd)="onItemAdded($event)"
																[editable]='true' (onTagEdited)="onTagEdited($event)">{{noteValue.Title}}
						</tag-input>
					</div>
					<div class="note" >
						<textarea *ngIf="getData" rows="100%" cols="100%" name="Note"  [(ngModel)]="noteValue.Note" >{{noteValue.Note}}</textarea>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>