.side li{
    margin-bottom: 5px;
}
.divider{
 border: 0px solid #f0f0f0;  
 margin-top: 3px;
 margin-bottom: 3px; 
}
.getNotes{
    margin-left: 12px;    
    cursor:pointer;
}
.trashRouter{
    
    margin-right: 6px;
}
.del{
    position: relative;
    left: 110%;
    margin-top: 15px;
}

.title{
    margin-left: 12px;
    margin-top: 5px;
    cursor:pointer;
}
.dropdown{
    top: 6%;  
}
.dropdown-toggle{
    cursor:pointer;
}
.sidebar{
    left: 0;
    top: 0;
    bottom: 0;
    width: 363px;
    border-right: 0px solid #f0f0f0;

}
textarea{
    padding: 10px 100px 10px 20px;
    left: 0px;
    position: absolute;
    width:126%;
    border: 0px solid #f0f0f0;
    max-height: 100%;
    min-height: 799px;
    height: 100%;
    box-sizing: border-box;
    margin-left: -31px;
    resize: none;
    border-left: 0px solid #f0f0f0;
    /*border-top: 1px solid #f0f0f0;*/
}
.tag-input{
    padding-left: 0px;
    margin-left: -15px;
    border-bottom: 1px solid #f0f0f0;

}
.remove{
    color:red;
    padding-top: 2px;   
    padding-right: 7px;
    position: relative;
    right: 0;
    top: 0;
    display: none;
    color: red;
}
.dropdownMenu{
    display: block;
  }
li{
    list-style: none;
   
}
h4{
    color: red;
    margin-top: 100px;
    text-align: center;
}
h3{
    margin-top: 0px;
}
.tag{
  position: absolute;
    right: 0px;
    left: 0px;
    bottom: 1px;
    top: -10px;
    height: 15px;
    padding-left: 65px;
    border-bottom: 1px solid #f0f0f0;
}
.note{
    /*position: absolute;
    right: 0px;
    left: 332px;
    bottom: 0px;
    top: 15px;
    padding-top: 4px;
    padding-bottom: 0px;
    line-height: 1.4em;*/
    
}
ul .tagUl{
    list-style-type: none;
    padding: 3px 0 3px 15px;
    margin: 3px 0px 0px;
    overflow: auto;
    color: #448ac9;
    line-height: 16px;
}
li .tagLi{
    margin-left: 0;
    position: relative;
    top: -2px;
}
ul.tagUl li{
    float: left;
    margin: 1px 4px 1px 0;
}
.add{
   float: right;
   margin-top: -36px;
   
}
.noteList{
    /*position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0;
    top: 75px;*/
    overflow: auto;
    height: auto;
    padding-top: 0px;
    height: 800px;
    margin-top: 10px;
}
.noteList li{
    position: relative;
    padding: 12px 10px 12px 8px
}
.p{
    font-size: 16px;
    color: #333;
    /*padding: 0 0 0 18px;*/
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor:pointer;
}
.preview:hover .trash {
    display: block;
    color: red;
}
.trash{
    /*padding-top: 16px;   
    padding-right: 12px;*/
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    color: red;
    padding: 16px 0px 2px 0px;
}
.title:hover .remove{
    display: block;
    color: red;
}
.preview:hover .onTrash {
    display: block;
    color: red;
}
.onTrash{
    padding-top: 16px;   
    padding-right: 12px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    color: red;
}
.text{
    font-size: 16px;
    color: #333;
    /*width: 270px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.trashButton{
    background-color: white;
    border: 1px solid red;
    color: red;
    padding: 2px 6px;
    margin-right: 7px;
}
.length{
    margin-right: 28px;
}
.undo{
    margin-top: -29px;
    padding-right: 27px;
    color: #006699;

}
.toggle-btn{
    display: none;
}
@media only screen and (max-width:768px)  {
    .sidebar{
        height: auto;
    }
    .noteList{
        height: auto;
        padding: 0px;   
    }
    textarea{
        padding: 10px 20px 10px 20px;
        left: 0px;
        position: absolute;
        width:126%;
        border-left: 0px solid #f0f0f0;
        max-height: 100%;
        min-height: 799px;
        height: 100%;
        box-sizing: border-box;
        margin-left: -31px;
        /*border-top: 1px solid #f0f0f0;*/

    }
    .add{
        position: fixed;
        left:10%;
        top:6%;
    }
    .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        left: 10px;
        top: -38px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
  .dropdownMenu{
    display: none;
  }
  .notePad{
    width: 351px;
    max-height: 533px;
    }
}
@media only screen and (max-width: 1024px){
    .sidebar{
        height: auto;
    }
    .noteList{
        height: auto;
        padding: 0px;   
    }
    textarea{
        padding: 10px 20px 10px 20px;
        left: 0px;
        position: absolute;
        width:126%;
        border-left: 0px solid #f0f0f0;
        max-height: 100%;
        min-height: 799px;
        height: 100%;
        box-sizing: border-box;
        margin-left: -31px;
        

    }
}
/*.ng2-tag-input  {
    border-bottom: 0px solid white;
}
*/


@media only screen and (max-width: 576px){
  .add{
        position: fixed;
        left:15%;
        top:7%;
    }
}