<div class="side">
<div class="row">
	<div class="noteList">
		<span><h3>List of Notes</h3></span>
		<div *ngIf ='n.length >0;else noNote'>

			<ul class="side">
				<li *ngFor="let note of n; let i of index "  class="title" ><b>{{note.Title}}</b>
					<span><a class="glyphicon glyphicon-remove remove pull-right" (click)="onDeleteNote(note)"></a></span>
				</li>
				
			</ul>
		</div>
	</div>
</div>
<ng-template #noNote>
	<h4>No notes to display</h4>
</ng-template>
<!-- [routerLink] ="['/edit-note/'+note.key]" -->
</div>